@import '../../utils/theme/palette';

.btn {
  height: 38px !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 8px 16px;
  border-radius: 6px;
}

.btn-primary {
  background-color: map-get($palette, 'primary', 'main') !important;
  color: map-get($palette, 'default', 'white') !important;

  &:hover {
    background-color: map-get($palette, 'primary', 'dark') !important;
  }
}

.btn-danger {
  background-color: map-get($palette, 'red', '100') !important;
  color: map-get($palette, 'red', '700') !important;

  &:hover {
    background-color: darken(map-get($palette, 'red', '100'), 10%) !important;
  }
}

.btn:disabled,
.btn.disabled {
  background-color: map-get($palette, 'gray', '300') !important;
  color: map-get($palette, 'gray', '500') !important;
  border: 1px solid map-get($palette, 'gray', '400') !important;
  cursor: not-allowed;
}

.btn-label {
  margin: 0;
  font-weight: bold;
}
