@import "../../theme/palette";

.btn-default {
  background-color: map-get($palette, "primary", "main");
  color: map-get($palette, "default", "white");
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  border: none;

  &:hover {
    background-color: map-get($palette, "primary", "dark");
  }
}

.btn-delete {
  background-color: map-get($palette, "red", "100");

  &:hover {
    background-color: darken(map-get($palette, "red", "100"), 10%);
  }
}

.label-default {
    margin: 0px;
    color: map-get($palette, "default", "white") !important;
}

.label-delete {
    margin: 0px;
    color: map-get($palette, "red", "700") !important;
}